API_ID = 8818544

API_HASH = f9984cda98646cdab3a5f346abb9810a

BOT_TOKEN = 2095846417:AAGHjT57rzL82xzVknHgOHEbO4kwxyT3J3g

SESSION_STRING = BQBtWCQ6TgoPD0aIhJylK9xZVZ9N9SgJ7_rb03I-eel5RlLSIq_bEP2JJY4odb6-NAtkFVCQyXkxzo1pGsSSr3c0dRsm6ZuBtRY3ldKYBEksp6Orb0hiA81G5UyEQJ1KAnrv4pzwPzZ0_VXCAwEayRQsHOMhLraD3uOlJ1Pq2oCPqF-ls23XN2j_gd3ilS6QGuOrGvp02fi3qZfsh3NOyjV0EjXvHAEtWeoJt4m4hruyFMYl0fNnbnWBKkpAi7bB1X00gAn8vKb0hlJJMPXRrqiFoRT46HmUlyPF01DtPuXqIw6XFYgQKS2MhtP0d_mt3EAS_Y2rAMC0EYp67rnDJxZ7AAAAAElhDuIA

CHAT = -1001255399885

ADMINS = "1773311819"

STARTUP_STREAM = https://king.nowtv.vip/live/sscricket/chunks.m3u8

ADMIN_ONLY = True
